.title {
  background: rgb(121, 242, 157);
}

.TextArea {
  border: 1px solid #ccc; /* 或使用更浅的颜色，甚至完全移除边框 */
  border-radius: 8px; /* 设置更大的圆角 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影 */
  background-color: #fff; /* 或其他柔和的颜色 */
  color: #333; /* 保持文字颜色深浅适中，确保可读性 */
  padding: 15px; /* 或根据设计调整 */
  line-height: 1.5; /* 通常在1.4到1.6之间 */
  font-family: 'Roboto', sans-serif; /* 选择适当的字体 */
  font-size: 16px; /* 保持字号适中，提升阅读体验 */
  width: 100%; /* 完全适应容器宽度 */
  text-indent: 8px; /* 根据实际情况调整 */
  resize: none; /* 禁止用户调整尺寸 */
  height: 10vh; /* 文本高度 */
}

.TextArea:hover,
.TextArea:focus {
  border-color: blue; /* 醒目颜色表示选中状态 */
  outline: none; /* 可移除默认聚焦时的外边框 */
}

.TextArea::placeholder {
  color: #aaa; /* 设定占位符的颜色 */
}

.Button {
  height: 10vh; /* Button 和 TextArea 的高度一致 */
}

.h3 {
  font-family: 'Roboto', sans-serif;
  color: #5a67d8;
  text-align: center;
  .span {
    border-bottom: 2px solid #4c51bf;
  }
}
.flex {
  display: flex;
  margin-bottom: 10px !important;
  :global {
    .ant-form-item-control-input-content {
      display: flex !important;
      margin: 0;
    }
    .ant-form-item-label {
      text-align: left;
    }
    .ant-form-item {
      margin: 0;
    }
  }
}

//新建对话按钮
.scifi-button {
  background-color: #1e90ff; /* 霓虹蓝背景色 */
  color: white;             /* 文字颜色 */
  border: none;             /* 去除边框 */
  box-shadow: 0 4px 8px 0 rgba(30, 144, 255, 0.5); /* 蓝色阴影，具有霓虹发光效果 */
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);   /* 文字阴影，发光效果 */
  transition: all 0.3s;        /* 平滑过渡效果 */
  /* 其他你想添加的效果 */
}

.scifi-button:hover {
  transform: translateY(-2px); /* 小幅上移，增加互动效果 */
  box-shadow: 0 6px 12px 0 rgba(30, 144, 255, 0.6); /* 加大阴影，增加发光效果 */
}

.scifi-button:active {
  transform: translateY(1px); /* 下压效果 */
  box-shadow: 0 3px 6px 0 rgba(30, 144, 255, 0.5); /* 调整阴影 */
}

// 会话列表
.scrollbar-style {
  scrollbar-width: thin;
  scrollbar-color: #5e6a60  #ffffff;
  border-radius: 10px;
}

/* Chrome, Edge, and Safari */
.scrollbar-style::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-style::-webkit-scrollbar-track {
  background: #ffffff;
}

.scrollbar-style::-webkit-scrollbar-thumb {
  background-color: #5e6a60;
  border-radius: 20px;
}

/* 动态边框 */
@keyframes border-flicker {
  0% {
    border-color: #4f5b93;
  }
  50% {
    border-color: #acb3e3;
  }
  100% {
    border-color: #4f5b93;
  }
}

.dynamic-border {
  animation: border-flicker 2s infinite;
  border-width: 5px;
}

.list-item {
  padding: 10px;
  border: 1px solid #ddd; /* 边框，可根据需要修改 */
  margin-bottom: 5px; /* 项目间距，可根据需要修改 */
  transition: background-color 0.3s; /* 平滑过渡效果 */
}

.list-item:hover {
  background-color: #f0f0f0; /* 鼠标悬停时的背景色 */
}
