.topRightContent {
  height: 330px;
  margin: 10px;
  border-radius: 2px;
  background-color: #fff;
}
.graph {
  max-height: 310px;
}
.graphBox {
  margin: 10px;
  height: 330px;
  background-color: #fff;
  text-align: center;
  border-radius: 2px;
}

.title_border {
  text-align: center;
  margin: 10px;
  border-radius: 2px;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  font-size: 15px;
  :global {
    h3 {
      font-size: 18px;
      width: 100%;
      font-weight: 600;
    }
    span {
      display: inline-block;
      color: #333;
      margin: 15px 0;
      margin-right: 15px;
    }
    .ant-col.ant-col-3 {
      align-items: center;
      justify-content: center;
      font-size: 16px;
      display: flex;
      font-weight: 600;
    }
  }
}

.true {
  color: #37b148;
}

.false {
  color: #ff2525;
}

.operation {
  display: flex;
  flex-direction: row;
  margin-left: -15px;
  .divide {
    margin: 5px 1px;
    width: 1px;
    background-color: #999;
    height: 20px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  .options {
    :global {
      .ant-select.ant-select-single.ant-select-show-arrow {
        min-width: 210px;
        margin: 0 30px;
      }
    }
  }
}

.list {
  list-style: none;
  padding: 0;
  font-size: 18px;
  :global {
    li {
      font-weight: bold;
      padding: 20px 0;
    }
    span {
      margin-left: 12px;
      font-weight: normal;
    }
  }
}
